<div class="content" id="footer-content">
    <div class="container">
        <div class="icon-footer-center">
            <a href="tel:+88 {{ entity.hotline }}" class="icon-background-white-footer icon-mobile"></a>
            <a href="mailto:{{ entity.email }}" class="icon-background-white-footer icon-mail"></a>
            <a href="javascript:" class="icon-background-white-footer icon-scroll-top"></a>
            <a href="maps" class="icon-background-white-footer icon-maps"></a>
            <a href="contact" class="icon-background-white-footer icon-contact"></a>
        </div>
    </div>
</div>
