<div class="header">
    <a href="javascript:" class="show-navigation"></a>
    <a href="javascript:" class="hide-navigation"></a>
    <img src="/{{ entity.webPath }}" onclick="window.location='{{ path('mobile_home',{'subdomain': entity.user.globalOption.subDomain }) }}'" class="page-logo" alt="/{{ entity.name }}">
</div>
<div class="navigation " id="navigation">
    <nav id="nav" class="left slicknav_menu">
        {{ menu|raw }}
    </nav>
</div>