{% extends ':mobile/slasher:base.html.twig' %}
{% block body %}
    {{ include('mobile/slasher/header.html.twig')}}
    <div class="page-header-clear"></div>
    <div class="content">
        <div class="container">
            <div class="g4">
                <h2 class="h4">Events</h2>
                <p class="demoDesc">Also you can customize the speed and the opacity of the widget animation</p>
                <div id="eventCalendarAnimation"></div>
            </div>
            <div class="decoration"></div>
        </div>
    </div>

{% endblock %}
{% block documentready %}
    $("#eventCalendarAnimation").eventCalendar({
        eventsjson: '{{ path('mobile_event',{'subdomain': entity.user.globalOption.subDomain }) }}',
        moveSpeed: 2000,
        moveOpacity: 1
    });
{% endblock %}


