<div class="" id="footer-content">
    <div class="container">
        <div class="icon-footer-center">
            <a href="tel:+88 {{ entity.hotline }}" class="icon-background-white-footer icon-mobile"></a>
            <a href="mailto:{{ entity.email }}" class="icon-background-white-footer icon-mail"></a>
            <a href="javascript:" class="icon-background-white-footer icon-scroll-top"></a>
            <a href="{{ path('mobile_maps',{'subdomain': entity.user.globalOption.subDomain })}}" class="icon-background-white-footer icon-maps"></a>
            <a href="{{ path('mobile_contact',{'subdomain': entity.user.globalOption.subDomain })}}" class="icon-background-white-footer icon-contact"></a>
        </div>
    </div>
</div>

{#
<div data-role="navbar">
    <ul class="ui-grid-a">
        <li><a data-icon="location" href="direction.php" ></a></li>
        <li><a data-icon="phone" href="tel:+88 01828148148"></a></li>
        <li><a data-icon="mail" href="mailto:example@example.com" ></a></li>
        <li><a data-icon="calendar" href="calendar.php" ></a></li>
        <li><a data-icon="gear" href="contact.php" ></a></li>
    </ul>
</div>
#}
