<div data-role="navbar">
    <ul class="ui-grid-a">
        <li><a data-icon="location" href="direction.php" ></a></li>
        <li><a data-icon="phone" href="tel:+88 01828148148"></a></li>
        <li><a data-icon="mail" href="mailto:example@example.com" ></a></li>
        <li><a data-icon="calendar" href="calendar.php" ></a></li>
        <li><a data-icon="gear" href="contact.php" ></a></li>
    </ul>
</div>
